body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
td {
	line-height: 150%;
	text-align: justify;
}
.heading {
	background-color: #EBEADB;
	color: black;
}
#question_pane {
	width: 50%;
	overflow: auto;
	position: absolute;
	top: 56px;
	left: 0;
	bottom: 0;
  font-size: 100% !important;
}
#answer_pane {
	overflow: auto;
	position: absolute;
	top: 56px;
	left: 50%;
	width: 50%;
	bottom: 0;
	border-left: 1px solid #808080;
	margin-left: -1px;
}
.head_title {
	overflow: auto;
	position: absolute;
	width: 100%;
	height: 56px;
  font-size: 90%;
}
.info_bar {
  top: 58px;
  position: relative;
}
.student_ans {
	padding-right: 10px;
	margin-bottom: 12px;
}
.student_unans {
	border-bottom: 1px solid #CBC7B8;
	padding-right: 10px;
	color: #C00000;
}
.student-answer-block {
	margin: 0 18px 48px 18px;
}
.reminders {
	list-style: none;
	padding-left: 0;
}
.reminders li {
	margin-left: 0;
}
.comment-box {
	width: 100%;
}
.hide {
	display: none;
}
#save_message {
  color: white;
	background-color: #70AD47;
  background-image: url('../artwork/green_save.png');
  background-repeat: no-repeat;
  padding-left: 36px;
  height: 27px;
  line-height: 27px;
  font-weight: bold;
  font-size: 110%;
}
#save_fail_message {
  color: white;
	background-color: #C00000;
  padding: 6px 6px 6px 18px;
  font-weight: bold;
}
.tbmark {
  margin: 1px;
}
